body {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    width: 100%;
    height: 140px;
}

.headerIcons {
    display: flex;
    float: right;
}

.imgPrincipal {
    margin-left: -620px;
}

.imagHeader {
    width: 20px;
    height: 20px;
    padding-left: 8px;
    margin-top: 15px;
}

.banner {
    width: 100%;
    height: 400px;
}

.footer {
    background-color: #2e2e2e;
    width: 333px;
    height: 300px;
    border-style: dotted;
    border-color: darkgray;
    border-width: 2px;
    text-align: initial;
}

footer {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

footer p {
    color: white;
}

footer h2 {
    color: white;
}

nav {
    background-color: #2e2e2e;
    text-align:left;
    margin:0 auto;
    width: 1000px;
    height: 40px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #397881;
}

.articulos {
    width: 49%;
    display: inline-block;
}

.imagenArticulo {
    width: 320px;
}